* {
    font-family: 'Russo One', sans-serif;
    box-sizing: border-box;
}

.container-fluid{
  padding: 0 !important;
  
}
.separador{
  margin-bottom: -1px;
}
//navbar color y hover
.bg-custom{
    background-color: rgb(2, 2, 36);
}

.navbar-nav .nav-link:hover {
  background-color: blue !important;
}


//!VERSION DESKTOP!
    

//SECCION PRINCIPAL 

//Estilos del contenedor titulos imagenes etc
.contenedor-inicio2{

  background-color: black;
  width: 100%;
  height: 100vh;
  margin-left: 0 !important;
  padding-top: 5%;
} 
.titulo1{
    padding-left: 20%;
    padding-top: 25%;
    color: white;
}

.titulo2{
    padding-left: 20%;
    color: white
    
}



.mobile-error {
    padding-left: 29%;
    display:inline-block;
  }

//container del script
.console-container {
 
    font-family:Khula;
    font-size:2rem;
    z-index: 10;
    height:200px;
    width:500px;
    
    
    color:white;
    
    
  }
  
  //estilo del escript
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

 //contenedor imagen
 .imagen_conteiner{
  margin-left: 0px;
 }

 //imagen carnet
.imagen_s{
  width: 360px;
  height: 440px;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 20%;
  border: 3px solid;
}


.contenedor-habilidades{
  background-color: transparent;
}


.centrado-responsive{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  margin-top: 20px;
  max-height: 5rem;
   width: 9rem;
}

.text_aboutme{
  font-size: 1.2rem;
}


.btn-blue{
  background-color: rgb(3, 3, 180) !important; 
  color: white !important;
}
//SECCION PRINCIPAL VERSION MOBILE
@media screen and (min-width:0px) and (max-width: 576px) {

.navbar-position{
  --bs-navbar-brand-margin-end: 0rem;
}

  //seccion inicial
  .contenedor-inicio2{

   
    width: 100%;
    height: 70vh;
    margin-left: 0 !important;
    
  } 

  .imagen_conteiner {
  
    text-align: center;
      
    }

    .imagen_s{
     width: 240px;
     height: 280px;
     border-radius: 50%;
     margin-top: -100px;
     margin-left: 0;
    }

    .titulo1{
        font-size: 2rem;
        padding-left: 13%;
        padding-top: 10%;
        color: white;

    }
    
    .titulo2{
        font-size: 1.7rem;
        padding-left: 13%;
        color: white;
        
    }
  
    .mobile-error {
        padding-left: 11%;
        display:inline-block;
        width: 400px;
      }

     .bug {
        padding-left: 13%;
        margin-bottom: -100px;
     } 

     //seccion about me 

     .img-2{
      width: 80%;
     }
     
     //ajuste de imagenes de carrusel de skilss
     .html-img{
     
      padding-top: 20px;
      padding-bottom: 20px;
      
     }
     .css-img{
      padding-top: 30px;
      padding-bottom: 30px;
     }

     .js-img{
      padding-top: 30px;
      padding-bottom: 30px;
     }
     
     .bs-img{
      padding-top: 30px;
      padding-bottom: 30px;
     }
     
     .centrado-responsive{
      margin-top: 40px;
     }
}


// SECCION PRINCIPAL VERSION TABLET - IPAD
@media screen and (min-width:577px) and (max-width: 991px){
  
  .imagen_s{
    margin-left: 0;
    margin-top: -20%;
  }

  #particles-js{
   
   height: 110vh;
   
  }
    .bug {
      
        padding-left: 15%;
     } 

     .titulo1{
      font-size: 3rem;
      margin-left: -5%;
      
  }

   .titulo2{
    font-size: 2.6rem;
    margin-left: -5%;
   }
  
   .console-container{
    font-size: 2.4rem;
   }

     .imagen_conteiner {
      text-align: center !important;
      
        
      }

      .html-img{
     
        padding-top: 20px;
        padding-bottom: 20px;
        
       }
       .css-img{
        padding-top: 30px;
        padding-bottom: 30px;
       }
  
       .js-img{
        padding-top: 30px;
        padding-bottom: 30px;
       }
       
       .bs-img{
        padding-top: 30px;
        padding-bottom: 30px;
       }
       .github-img{
        width: 15rem;
        height: 16rem;
       }
       .centrado-responsive{
        margin-top: 120px;
       }
  }




@media screen and (min-width:992px) and (max-width: 2000px){
  .bug {
      
    padding-left: 20%;
    
 } 

 

  .imagen-aboutme{
  padding-left: 20px;
  margin-top: 8000px;
 } 
}

//SOLUCION DEL SCRIPT VERION MOBILE
@media screen and (max-width:510px ) {
   
    
      .console-container {
        display:inline-block;
        font-family:Khula;
        font-size:1.7rem;
        z-index: 10;
        height:200px;
        width:400px;
        
        
        color:white;
        
        
      }
      
      //estilo del escript
      .console-underscore {
         display:inline-block;
        position:relative;
        top:-0.14em;
        left:0px;
      }

     
}



